/* primeiro projeto */
* {
  margin: 0%;
  padding: 0%;
  text-decoration: none;
}

body {
  background-color: rgb(253, 251, 251);
  font-family: arial, helvetica, serif;
  letter-spacing: 0.1px;
  font-size: 18px;
  color: green;
  line-height: normal;
}


#cabecalho {
  margin-top: 0px;
  background-color: green;
  width: 100%;
  position: fixed;
  padding: 0.1px;

}

#titulo {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 0%;
  padding-top: 1%;
}


.link {
  margin-left: 2%;
  padding: 7px 10px;
  display: inline-block;
  margin-bottom: 10px;
}

.link :hover {
  color: white;
}

#link-externo {
  margin-left: 10px;
}

img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: black solid 3px;
  margin-left: 50px;
  clear: both;
  margin-top: 110px;
  margin-bottom: 30px;
}


#licoes_aprendidas {
  display: inline-block;
  float: left;
  margin-left: 5%;
  margin-bottom: 3%;
}


#licoes_a_aprender {
  display: inline-block;
  float: left;
  margin-left: 5%;
  margin-top: 30px;
}


ol h2 {
  display: inline-block;
  width: 45;
  text-align: right;
  margin-left: 70px;

}


.lado-esquerdo {
  float: left;
  width: 45%;
  height: 100px;
  border: solid green 1px;
  clear: both;
  padding: 30px;
}

.lado-direito {
  float: right;
  width: 45%;
  border: solid green 1px;
  margin-bottom: 5%;
  padding: 30px;
}

table , th , td {
  border: 1px solid white;
  border-collapse: collapse;
  text-align: center;
}


table {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  padding: 1px;
  background-color: green;
  color: white;
  margin-bottom: 2%;
}

footer {
  margin-bottom: 0%;
  text-align: left;
  width: 100%;
  clear: both;
  font-size: 10px;
  margin-left: 1%;
}