/* primeiro projeto */
* {
  margin: 0%;
  padding: 0%;
  text-decoration: none;
}

body {
  background-color: rgb(253, 251, 251);
  font-family: arial, helvetica, serif;
  letter-spacing: 0.1px;
  font-size: 18px;
  color: #8384DF;
  line-height: normal;
}


#cabecalho {
  margin-top: 0px;
  background-color: #FBEEDF;
  width: 100%;
  position: fixed;
  padding: 0.1px;

}

#titulo {
  color: #8384DF;
  font-size: 30px;
  text-align: center;
  margin-top: 0%;
  padding-top: 1%;
}


.link {
  margin-left: 2%;
  padding: 7px 10px;
  display: inline-block;
  margin-bottom: 10px;
}

.link :hover {
  color: #a2debd;
}

#link-externo {
  margin-left: 10px;
}

img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: #FBEEDF solid 5px;
  margin-left: 50px;
  clear: both;
  margin-top: 210px;
  margin-bottom: 30px;
}


#licoes_aprendidas {
  display: inline-block;
  float: left;
  margin-left: 35%;
  margin-bottom: 10%;
  margin-top: -18%;

}


#licoes_a_aprender {
  display: inline-block;
  float: left;
  margin-left: 9%;
  margin-top: -16%;
}


ol h2 {
  display: inline-block;
  width: 45;
  margin-left: 80%;

}

h3 {
  text-align: center
}


.lado-esquerdo {
  float: left;
  width: 40%;
  border: solid #FBEEDF 10px;
  clear: both;
  padding: 38px;
  background-color: #a2debd;
}

.lado-direito {
  float: right;
  width: 40%;
  border: solid #FBEEDF 10px;
  padding: 60px;
  margin-bottom: 70px;
  background-color: #a2debd;

}

table,
th,
td {
  border: solid #FBEEDF 3px;
  ;
  border-collapse: collapse;
  text-align: center;
  padding: 5px;
}


table {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  padding: 1px;
  background-color: #a2debd;
  color: #8384DF;
  margin-bottom: 4%;
}

footer {
  margin-bottom: 2%;
  text-align: left;
  width: 100%;
  clear: both;
  font-size: 15px;
  margin-left: 1%;
}